	<!-- Navigation Menu
		================================================== -->
	
    <nav id="aptagrim_menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Main_menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">
                  <img src="../../assets/images/logo-normal.png" alt="Logo">
             </a>
          </div>
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="Main_menu">     
              <a href="https://aptasupport.com/" target="_blank" class="mbl_hide">	<img src="../../assets/images/support.png" style="float: right!important;"></a>
            <ul class="nav navbar-nav navbar-right">       
              <li class="dropdown">
                  <a class="page-scroll hvr-underline-from-center dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Solutions &nbsp;<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/Solution/aptai" href="" routerLinkActive="active">AptaI</a></li>			            
                    <li><a routerLink="/Solution/aptahr" href="" routerLinkActive="active">AptaHR</a></li>
                    <li><a routerLink="/Solution/aptadf" href="" routerLinkActive="active">AptaDF</a></li>
                    <li><a routerLink="/Solution/aptabi" href="" routerLinkActive="active">AptaBI</a></li>				           
                </ul>
              </li>
              <li class="dropdown">
                  <a class="page-scroll hvr-underline-from-center dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Technology &nbsp;<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/Technology/aiandml" href="" routerLinkActive="active">AI & ML </a></li>
                    <li><a routerLink="/Technology/predictivemaintenance" href="" routerLinkActive="active">Predictive Maintenance</a></li>
                    <li><a routerLink="/Technology/predictiveanalytics" href="" routerLinkActive="active">Predictive Analytics</a></li>			           
                </ul>
              </li>
              <li class="dropdown">
                  <a class="page-scroll hvr-underline-from-center dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Services &nbsp;<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/Services/alaas" href="" routerLinkActive="active">AIaaS</a></li>
                    <li><a routerLink="/Services/mldevelopment" href="" routerLinkActive="active">ML Development</a></li>
                    <li><a routerLink="/Services/cybersecurity" href="" routerLinkActive="active">Cyber Security</a></li>			           
                </ul>
              </li>
              <li class="dropdown">
                  <a class="page-scroll hvr-underline-from-center dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Insights &nbsp;<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/Insights/testimonial" href="" routerLinkActive="active">Testimonials</a></li>
                    <!-- <li><a href="">Case Studies</a></li>
                    <li><a href="">Life @Aptagrim</a></li> -->
                    <li><a routerLink="/Insights/newsroom" href="" routerLinkActive="active">Newsroom</a></li>			           
                </ul>
              </li>
              <li class="dropdown">
                  <a class="page-scroll hvr-underline-from-center dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">About Us &nbsp;<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/AboutUs//leadership" href="" routerLinkActive="active">Leadership</a></li>
                    <li><a routerLink="/AboutUs/partners" href="" routerLinkActive="active">Partners</a></li>
                    <!-- <li><a href="">Awards</a></li> -->
                    <li><a routerLink="/AboutUs/career" href="" routerLinkActive="active">Career</a></li>			           
                </ul>
              </li>
              <li><a class="page-scroll hvr-underline-from-center" routerLink="/contact" href="" routerLinkActive="active">Contact </a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>