<!-- Footer
		================================================== -->
		<div class="F-B_footer">
      <div class="footer_top">
        <div class="footer_top_list">
          <div class="footer_top_logo">
              <img src="../../assets/images/logo-normal.png" alt="TryoLabs" class="footer_top_logo_img">
              <p class="white-color" style="margin-top: 23px;">SINGAPORE | UK | INDIA</p>
          </div>
          <div class="footer_top_list_items_main ">
            <div class="footer_top_list_items footer_top_list_items_res">
                <p class="footer_top_list_items_p">Company</p>
                <ul class="footer_top_list_items_ul">
                  <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a smooth_scroll" routerLink="" href="" routerLinkActive="active">About us</a></li>
                  <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" routerLink="/AboutUs/career" href="" routerLinkActive="active">Career</a></li>
                  <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" routerLink="/contact" href="" routerLinkActive="active">Locations</a></li>
                </ul>
              </div>
            <div class="footer_top_list_items footer_top_list_items_res">
            <p class="footer_top_list_items_p">Solutions</p>
            <ul class="footer_top_list_items_ul">
              <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" routerLink="/Solution/aptai" href="" routerLinkActive="active">AptaI</a></li>
              <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" routerLink="/Solution/aptahr" href="" routerLinkActive="active">AptaHR</a></li>
              <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" routerLink="/Solution/aptabi" href="" routerLinkActive="active">AptaBI</a></li>
            </ul>
          </div>
          <div class="footer_top_list_items footer_top_list_items_res">
            <p class="footer_top_list_items_p">Insights</p>
            <ul class="footer_top_list_items_ul">
            <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" href="javaScript:void(0)">Events</a></li>
            <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" routerLink="/Insights/newsroom" href="" routerLinkActive="active">Newsroom</a></li>
            </ul>
          </div>
          <div class="footer_top_list_items footer_top_list_items_ress">
            <p class="footer_top_list_items_p">Strategic Partners​</p>
            <ul class="footer_top_list_items_ul">
            <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" href="http://www.ftec-global.com/" target="_blank">FTEC Foreign Trade Consulting GmbH</a></li>
            <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" href="https://incyber1.com/" target="_blank">InCyber Inc.​</a></li>
            <li class="footer_top_list_items_ul_li"><a class="footer_top_list_items_ul_li_a" href="https://www.jobrocket.co.uk/" target="_blank">JobROCKET Limited</a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="footer_top_list_items--social-media">
        <div>
          <p class="footer_top_list_items_p">Social</p>
          <ul class="footer-social-icons icon-rotate"> 
            <li> <a href="https://twitter.com/aptagrim" target="_blank"><i class="fa fa-twitter"></i></a></li>  
            <li> <a href="https://www.linkedin.com/in/aptagrim/" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
            <li> <a href="https://www.youtube.com/channel/UC6JUZUqqLd-aUW20VK_Oo2w" target="_blank"><i class="fa fa-youtube"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
      <div class="footer_bottom">
        <div class="footer_bottom_copyright">
            <div class="footer_bottom_copyright_txt">
               Aptagrim © 2019. All rights reserved.
            </div>
        </div>
      </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="style-modal" tabindex="-1" role="dialog" aria-labelledby="style-modal-label">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="style-modal-label">Your Colors CSS</h4>
              </div>
              <div class="modal-body">
                  <pre>
                      <code id="cssStyles">

                      </code>
                  </pre>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="downloadLink">Download CSS</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="aptaivideomodal" tabindex="-1" role="dialog" aria-labelledby="rating-confirm-modal" aria-hidden="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px">
        <div class="modal-content">
           <div class="modal-body">
               <button type="button" class="close videoclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
               <div class="add_class">
            <div>
              <video id="aptaivideo" width="100%" height="100%" autoplay="" controls="" controlslist="nodownload">
                <source src="../../assets/video/Apta HR.mp4" type="video/mp4">
                <source src="../../assets/video/Apta HR.webm" type="video/webm">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
            </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="aptahrvideomodal" tabindex="-1" role="dialog" aria-labelledby="rating-confirm-modal" aria-hidden="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px">
        <div class="modal-content">
           <div class="modal-body">
               <button type="button" class="close videoclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
               <div class="add_class">
            <div>
              <video id="aptahrvideo" width="100%" height="100%" autoplay="" controls="" controlslist="nodownload">
                <source src="../../assets/video/Apta HR.mp4" type="video/mp4">
                <source src="../../assets/video/Apta HR.webm" type="video/webm">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
            </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="jobrocketvideomodal" tabindex="-1" role="dialog" aria-labelledby="rating-confirm-modal" aria-hidden="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px">
        <div class="modal-content">
           <div class="modal-body">
               <button type="button" class="close videoclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
               <div class="add_class">
            <div>
              <video id="jobrocketvideo" width="100%" height="100%" autoplay="" controls="" controlslist="nodownload">
                <source src="../../assets/video/Apta HR.mp4" type="video/mp4">
                <source src="../../assets/video/Apta HR.webm" type="video/webm">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
            </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="aptadfvideomodal" tabindex="-1" role="dialog" aria-labelledby="rating-confirm-modal" aria-hidden="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px">
        <div class="modal-content">
           <div class="modal-body">
               <button type="button" class="close videoclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
               <div class="add_class">
            <div>
              <video id="aptadfvideo" width="100%" height="100%" autoplay="" controls="" controlslist="nodownload">
                <source src="../../assets/video/Apta HR.mp4" type="video/mp4">
                <source src="../../assets/video/Apta HR.webm" type="video/webm">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
            </div>
          </div>
      </div>
  </div>