<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section newsroom-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">News and Update</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->
		
		<section>
			<div class="w-100 mb-3">
				<div class="container-fluid">
					<div class="row">
			            <div class="col-md-12 mart_bg text-center">
			                <h2 class=" color_2e3b4e fontweg_300 common-mart-title">Check out the latest in <span class="fontweg_500"> news </span>  and what our developers and data scientist are doing </h2>
			            </div>
			        </div>
			    </div>
			    <div class="container newsroom-blk">
			        <div class="row">
			        	
			            <div class="col-md-4">
			            	<div class="panel">
				            	<div class="panel-heading">
				            		<label class="common-btn common_btn_css">RECOGNITION</label>
				            		<span class="newsroom-time">May 16, 2018 <ul><li></li></ul>2 min read</span>
				            	</div>
				            	<div class="panel-body">
				            		<a href="#" data-toggle="modal" data-target="#myModal" id="nasscom_vedio_a">
					            		<img src="../../../assets/images/ai_good2.jpg" class="img-responsive cursor_pointer">

					            		<h4 class="panel-title">
												APTAGRIM showcases their new Artificial Intelligence solution AptaI at NASSCOM event-AI for Good. AptaI is a AI wearable device transforming the lives of the blind and the visually impaired.
					            		</h4>
					            	</a>
				            	</div>
			            	</div>
						</div>
						<div class="col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<label class="common-btn common_btn_css">AWARDS</label>
									<span class="newsroom-time">Feb 9, 2019 <ul><li></li></ul>2 min read</span>
								</div>
								<div class="panel-body">
									<a routerLink="/Insights/newsroom/newsdescription1" href="" routerLinkActive="active">
										<img src="../../../assets/images/cio_logo_lg.jpg" class="img-responsive cursor_pointer">
										<h4 class="panel-title">
											APTAGRIM recognized as an emerging Data Analytics service provider by CIO India report 2019
										</h4>
									</a>
								</div>
							</div>
						</div>
			        </div>
				</div>
			</div>	
		</section>

		<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog  modal-dialog-centered modal-lg">
			  
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close videoclose mb-2" data-dismiss="modal">&times;</button>
						<div class="add_class" >
								  <div style="width: 95%;height: 100%;margin: 0 auto 0;">
					  <video id="nasscom_vedio" width="100%" height="100%" controls="controls"  volume="0.5"  controlslist="nodownload" class="box_shadow">
							  <source src="/static/video/Nasscom_AI for GOOD.mov" type="video/mp4">
							  <source src="/static/video/Nasscom_AI for GOOD.webm" type="video/webm">
							  Your browser does not support the video tag.
					  </video>
				  </div>
			  </div>