
<link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="../../../node_modules/common-js/libs.min.js"></script>

<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-12">
            <div id="carousel-first" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-first" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-first" data-slide-to="1"></li>
                <li data-target="#carousel-first" data-slide-to="2"></li>
                <li data-target="#carousel-first" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox" style="height: inherit;">
                
                <div class="item active">
                    <img src="../../assets/images/carousel-first-index-2.jpg" alt="...">
                    <div class="carousel-caption">
                      <div class="carousel-first-blk">
                        <div>
                          <p>
                            Transforming the  lives  <br/> of the  blind and the <br/> visually impaired  using  <b>Artificial intelligence</b>
                          </p>
                          <div class="text-left">
                            <a routerLink="/Solution/aptai" href="" routerLinkActive="active" class="btn common-btn first_btn_sliding">Learn more...</a>
                          </div>
                        </div>
                      </div>
                      
                      <!-- <img id="launchaptaivideo" src="../../assets/images/videoicon.png" data-toggle="modal" data-backdrop="static" data-target="#aptaivideomodal" class="vedio_icon" > -->

                      <a routerLink="/Solution/aptai" href="" routerLinkActive="active">	<img src="../../assets/images/videoicon.png" class="vedio_icon" ></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../../assets/images/datascience.jpg" class="img-responsive" alt="...">
                    <div class="carousel-caption">
                      <div class="carousel-first-blk">
                        <div>
                          <p>
                            Applying <b> AI </b> and <br/> <b> Machine Learning </b> to business problems
                          </p>
                          <div class="text-left">
                            <a routerLink="/Technology/aiandml" href="" routerLinkActive="active" class="btn common-btn first_btn_sliding">Learn more...</a>
                          </div>
                        </div>
                      </div>
                      
                      <!-- <img id="launchjobrocketvideo" src="../../assets/images/videoicon.png" data-toggle="modal" data-backdrop="static" data-target="#jobrocketvideomodal" style="cursor: pointer;"> -->
                      <div style="height: 72px"></div>
                    </div>
                </div>
                
                <div class="item">
                    <img src="../../assets/images/carousel-first-index-4.jpg" class="img-responsive" alt="...">
                    <div class="carousel-caption">
                      <div class="carousel-first-blk">
                        <div>
                          <p>
                            Demand Forecasting, Predictive Maintenance & Predictive Analytics using  <b>Machine Learning</b>
                          </p>
                          <div class="text-left">
                            <a routerLink="/Technology/predictivemaintenance" href="" routerLinkActive="active" class="btn common-btn first_btn_sliding">Learn more...</a>
                          </div>
                        </div>
                      </div>
                      
                      <div style="height: 72px"></div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../assets/images/carousel-first-index-1.jpg" class="img-responsive" alt="...">
                    <div class="carousel-caption">
                      <div class="carousel-first-blk">
                        <div>
                          <p style="color: #000">
                            Reinvent recruitment <br/> and hiring using <br/> <b>Machine Learning</b>
                          </p>
                          <div class="text-left">
                            <a routerLink="/Solution/aptahr" href="" routerLinkActive="active" class="btn common-btn first_btn_sliding">Learn more...</a>
                          </div>
                        </div>
                      </div>
                      
                      <!-- <img id="launchaptahrvideo" src="../../assets/images/videoicon.png" data-toggle="modal" data-backdrop="static" data-target="#aptahrvideomodal" class="vedio_icon" > -->

                      <a routerLink="/Solution/aptahr" href="" routerLinkActive="active">
                        <img  src="../../assets/images/videoicon.png"  class="vedio_icon" >
                      </a>
                    </div>
                </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.hero-section -->

  <!-- Our Solutions Section
  ================================================== -->
  <section id="our-work" class="our-work-section">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 see-work mart_bg">
                  <h2 class="color_2e3b4e fontweg_400">Our Solutions</h2>
              </div>
              <!-- <div class="col-md-12 new-style">
                  <p class="wow fadeInLeft animated">The new Style for 2017 is here. Like it? <a href="#" class="secondary">BUY THEME
                      NOW!</a></p>
              </div> -->
              <div class="col-md-12 portfolio-images">
                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img first box_shadow_2">
                          <img class="img-responsive portfolio-img_inner" src="../../assets/images/our-solution1.jpg" alt="porftofilio thumbnail">
                          <div class="sweep-left image-gradient"></div>
                          <div class="sweep-from-center">
                              <div class="sweep-layer">
                                  <div class="sweep-content">
                                      <!-- <div class="sweep-icon">
                                          <a href="#">
                                              <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                          </a>
                                      </div> -->
                                      <p>Artificial intelligence glasses to support people who are blind or have low vision</p>
                                      <div><a routerLink="/Solution/aptai" href="" routerLinkActive="active" class="secondary-hover">Read more..</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="sweep-right image-gradient"></div>
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img second box_shadow_2">
                          <img class="img-responsive portfolio-img_inner" src="../../assets/images/our-solution2.jpg" alt="porftofilio thumbnail">
                          <div class="sweep-left image-gradient"></div>
                          <div class="sweep-from-center">
                              <div class="sweep-layer">
                                  <div class="sweep-content">
                                    <!-- <div class="sweep-icon">
                                          <a href="#">
                                              <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                          </a>
                                      </div> -->
                                      <p>Machine Learning based demand forecasting and predictive analytics application</p>
                                      <div><a routerLink="/Solution/aptadf" href="" routerLinkActive="active" class="secondary-hover">Read more..</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="sweep-right image-gradient"></div>
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img third box_shadow_2">
                          <img class="img-responsive portfolio-img_inner" src="../../assets/images/our-solution3.jpg" alt="porftofilio thumbnail">
                          <div class="sweep-left image-gradient"></div>
                          <div class="sweep-from-center">
                              <div class="sweep-layer">
                                  <div class="sweep-content">
                                    <!-- <div class="sweep-icon">
                                          <a href="#">
                                              <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                          </a>
                                      </div> -->
                                      <p>Machine Learning based solution which reduces the effort to screen thousands of profiles from DAYS to MINUTES</p>
                                      <div><a routerLink="/Solution/aptahr" href="" routerLinkActive="active" class="secondary-hover">Read more..</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="sweep-right image-gradient"></div>
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img fourth box_shadow_2">
                          <img class="img-responsive portfolio-img_inner" src="../../assets/images/our-solution4.jpg" alt="porftofilio thumbnail">
                          <div class="sweep-left image-gradient"></div>
                          <div class="sweep-from-center">
                              <div class="sweep-layer">
                                  <div class="sweep-content">
                                    <!-- <div class="sweep-icon">
                                          <a href="#">
                                              <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                          </a>
                                      </div> -->
                                      <p>AptaBI provides a 360<sup>o</sup> view for business users with their most important metrics in one place, updated in real time, and available on all of their devices</p>
                                      <div><a routerLink="/Solution/aptabi" href="" routerLinkActive="active" class="secondary-hover">Read more..</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="sweep-right image-gradient"></div>
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </section>
  <!-- /.Our Solutions section -->

  <!-- Quote Section
  ================================================== -->
  <section id="quote" class="quote-section">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 quote-headline mart_bg">
                  <h4 class="fontweg_500 color_2e3b4e"><span>Technology focus​</span></h4>
              </div>
              <div class="col-md-12 p-0">
                    <div id="carousel-second" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-second" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-second" data-slide-to="1"></li>
                <li data-target="#carousel-second" data-slide-to="2" ></li>
                <li data-target="#carousel-second" data-slide-to="3"></li>
            </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox" style="height: inherit;">
                <div class="item active">
                    <img src="../../assets/images/technology-focus5.jpg" class="img-responsive" alt="...">
                    <div class="carousel-caption">
                      <div class="carousel-2first-blk">
                        <div>
                           <p>Congnitive Services using <b>Computer Vision</b> and <span class="d_block"><b>Deep Learning</b></span></p>
                           <div class="text-left">
                            <a routerLink="/Technology/aiandml" href="" routerLinkActive="active" class="btn common-btn">Learn more...</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>						    	
                <div class="item">
                    <img src="../../assets/images/technology-focus1.jpg" alt="...">
                    <div class="carousel-caption carousel-captiontwo">
                      <div class="carousel-2first-blk">
                        <div>
                          <p>Helping our customers to successfully understand and integrate <b class="shine-blue">Chatbots</b> and <b class="shine-blue">AI</b></p>
                          <div class="text-left">
                            <a routerLink="/Technology/aiandml" href="" routerLinkActive="active" class="btn common-btn">Learn more...</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../assets/images/technology-focus3.jpg" class="img-responsive" alt="...">
                    <div class="carousel-caption">
                      <div class="carousel-2first-blk">
                        <div>
                           <p>Unlock the true value <span class="d_block"> of your <b class="shine-blue">data</b> with  </span> <span class="d_block"> <b class="shine-blue">Predictive Analytics</b> </span> </p>
                           <div class="text-left">
                            <a routerLink="/Technology/predictiveanalytics" href="" routerLinkActive="active" class="btn common-btn">Learn more...</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../assets/images/technology-focus2.jpg" class="img-responsive" alt="...">
                    <div class="carousel-caption carousel-caption_last">
                      <div class="carousel-2first-blk">
                        <div>
                           <p style="color: #fff">make <b>IoT</b> work <br/> for your business</p>
                           <div class="text-left">
                            <!-- <a href="javascript:void(0)" class="btn common-btn">Learn more...</a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->

      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-12 quote-headline mart_bg">
                  <h4 class=" fontweg_500 color_2e3b4e"><span>Technology Stack</span></h4>
              </div>
          </div>
        <div class="container-fluid p-0">		    	
          <div class="container_custom">
            <div class="row">
              <div class="col-sm-12">
                <ul id="technology-focus">
                  <li>
                    <img src="../../assets/images/technology1.png">
                  </li>
                  <li>
                    <img src="../../assets/images/technology2.png">
                  </li>
                  <li>
                    <img src="../../assets/images/spacy_logo.png">
                  </li>
                  <li>
                    <img src="../../assets/images/technology4.png">
                  </li>
                  <li>
                    <img src="../../assets/images/scikit_logo.png">
                  </li>
                  <li>
                    <img src="../../assets/images/technology6.png">
                  </li>
                  <li>
                    <img src="../../assets/images/technology7.png">
                  </li>
                  <li>
                    <img src="../../assets/images/technology8.png">
                  </li>
                  <li>
                    <img src="../../assets/images/technology9.png">
                  </li>
                  <li>
                    <img src="../../assets/images/technology10.png">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </section>
  <!-- /.quote-section -->

  <section id="about_us">
          <div class="container-fluid p-0">
               <div class="carousel-background-aboutus"  style="padding-top: 0;padding-bottom: 0px">
                   <!-- <div class="row">
                       <div class="col-md-12 quote-headline mart_bg">
                          <h4 class="fontweg_500 color_2e3b4e"><span>About Us</span></h4>
                      </div>
                   </div> -->
                  <div class="row" style="background: rgba(255, 255, 255, 0.07)">
                       <div class="col-md-6">  
                         <h2 class="white-color text-center fontweg_300">know <span class="fontweg_500">Aptagrim</span></h2>
                          <section id="cd-timeline" class="cd-container">
                              <div class="cd-timeline-block ">
                                  <div class="cd-timeline-img cd-location wow bounceIn  animated">
                                      <i class="fa fa-star"></i>
                                  </div> <!-- cd-timeline-img -->

                                  <div class="cd-timeline-content">
                                      <p>We are an AWS partner.We open offices in Singapore and UK</p>
                                      <span class="cd-date">May 2018</span>
                                  </div> <!-- cd-timeline-content -->
                              </div> <!-- cd-timeline-block -->

                              <div class="cd-timeline-block">
                                  <div class="cd-timeline-img cd-movie ">
                                      <i class="fa fa-star"></i>
                                  </div> <!-- cd-timeline-img -->

                                  <div class="cd-timeline-content">
                                      <p>Start of Data Science practice.We are a NASSCOM member</p>
                                      <span class="cd-date">July 2017</span>
                                  </div> <!-- cd-timeline-content -->
                              </div> <!-- cd-timeline-block -->

                              <div class="cd-timeline-block ">
                                  <div class="cd-timeline-img cd-location">
                                      <i class="fa fa-star"></i>
                                  </div> <!-- cd-timeline-img -->

                                  <div class="cd-timeline-content ">
                                      <p>Start of cloud computing and IOT practice with Microsoft Azure</p>
                                      <span class="cd-date">August 2016</span>
                                  </div> <!-- cd-timeline-content -->
                              </div> <!-- cd-timeline-block -->

                              <div class="cd-timeline-block">
                                  <div class="cd-timeline-img cd-movie">
                                      <i class="fa fa-star"></i>
                                  </div> <!-- cd-timeline-img -->

                                  <div class="cd-timeline-content ">
                                     <p>We are a Microsoft partner company and enter into a strategic partnership with FTEC GmbH. Start of our Data Analytics practice.</p>
                                      <span class="cd-date">July 2015</span>
                                  </div> <!-- cd-timeline-content -->
                              </div> <!-- cd-timeline-block -->

                              <div class="cd-timeline-block ">
                                  <div class="cd-timeline-img cd-location">
                                      <i class="fa fa-star"></i>
                                  </div> <!-- cd-timeline-img -->

                                  <div class="cd-timeline-content ">
                                      <p>e-Commerce and web development practice</p>
                                      <span class="cd-date">February 2014</span>
                                  </div> <!-- cd-timeline-content -->
                              </div> <!-- cd-timeline-block -->

                              <div class="cd-timeline-block">
                                  <div class="cd-timeline-img cd-movie">
                                      <i class="fa fa-star"></i>
                                  </div> <!-- cd-timeline-img -->

                                  <div class="cd-timeline-content">
                                      <p>Aptagrim Consulting LLP was incorporated in India. The name 'Aptagrim' was coined from the sanskrit words-'Apta' meaning 'trustworthy' and 'agrim' meaning 'leader'</p>
                                      <span class="cd-date">March 2012</span>
                                  </div> <!-- cd-timeline-content -->
                              </div> <!-- cd-timeline-block -->
                          </section> <!-- cd-timeline -->
                      </div>

                      <div class="col-md-6">
                          <div class="img-and-text_square history-overview" style="background:transparent;">
                              <h2 class="F-I_heading_green-line_center-left img-and-text_square_title title1" >
                                    turn <span class="fontweg_500">data</span>  into <span class="fontweg_500">Information</span> and <span class="fontweg_500">insights</span>
                              </h2>
                              <h3 class="F-I_heading_light-grey_small_center-center img-and-text_square_text about_us_text">
                                  We specialize in helping organizations gain insights from their data, and use those insights to change the way a decision is made.We do this through a blend of machine learning, statistical analysis, data visualization, optimization, and data engineering techniques.
                              </h3>
                              <h3 class="F-I_heading_light-grey_small_center-center img-and-text_square_text about_us_text">
                                  Over the past 7+ years, we’ve built a reputation for creating amazing outcomes for our clients: bringing the right technical expertise and business acumen to help them achieve their goals, and crafting solutions that address their business challenges with swiftness and precision
                              </h3>
                              <h3 class="F-I_heading_light-grey_small_center-center img-and-text_square_text about_us_text">
                                  We delight in matching our consultants with opportunities that inspire them, and fostering a working environment that honors the diverse talents and passions of each member of our team.
                              </h3>
                              <div class="img-and-text_square_data about-us_main_container" style="padding: 0 30px;max-width: 550px;margin: auto;">
                                  <ul id="about-us">
                                      <li>
                                          <div class="F-I_cool-data img-and-text_square_data_div">
                                              <div class="cool-data_1--small">24</div>
                                              <div class="cool-data_2--dark--small">
                                                  <div class="slider_text">coffee  <br/> cups</div>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="F-I_cool-data img-and-text_square_data_div--last">
                                              <div class="cool-data_1--small">21</div>
                                              <div class="cool-data_2--dark--small">
                                                  <div class="slider_text">happy <br/> clients</div>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="F-I_cool-data img-and-text_square_data_div">
                                              <div class="cool-data_1--small">7</div>
                                              <div class="cool-data_2--dark--small">
                                                  <div class="slider_text">years of <br/> service</div>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="F-I_cool-data img-and-text_square_data_div--last">
                                              <div class="cool-data_1--small">3</div>
                                              <div class="cool-data_2--dark--small">
                                                  <div class="slider_text">global <br/> locations</div>
                                              </div>
                                            </div>
                                      </li>
                                  </ul>
                              </div>
                              <div class="mx-auto d-flex">
                                  <a routerLink="/AboutUs/leadership" href="" routerLinkActive="active" class="common-btn common_btn_css meet_the_team" style="margin-bottom: 30px;margin-top: 40px;" > Meet the Team </a>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
      <section id="our-work" class="our-work-section">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 see-work mart_bg">
                  <h2 class=" color_2e3b4e fontweg_300" style="font-size: 40px;">Some of the <span class="fontweg_500"> industries </span>  we‘ve worked with </h2>
              </div>
              <!-- <div class="col-md-12 new-style">
                  <p class="wow fadeInLeft animated">The new Style for 2017 is here. Like it? <a href="#" class="secondary">BUY THEME
                      NOW!</a></p>
              </div> -->
              <div class="col-md-12 portfolio-images portfolio-images_two">
                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img ">
                          <img class="img-responsive" src="../../assets/images/manufacturing.jpg" alt="porftofilio ">                        
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img ">
                          <img class="img-responsive" src="../../assets/images/human_resources.jpg"  alt="porftofilio ">		                        
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img ">
                          <img class="img-responsive" src="../../assets/images/healthcare.jpg" alt="porftofilio ">		                        
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="portfolio-img ">
                          <img class="img-responsive" src="../../assets/images/banking.jpg" alt="porftofilio ">		                        
                      </div>
                      <!-- /.portfolio-img -->
                  </div>

              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </section>

  <section class="l-home-clients">
    <div class="container-fluid p-0">
      <div class="col-sm-12 col-md-6 h-100 " >
          <div class="l-home-clients__content d-flex align-items-center justify-content-left p-0 acc-content_heg" >
            <div class="l-home-clients__innercontent">
                <h1 class="heading-set__primary color_2e3b4e mt-0">Frequently Asked Questions</h1>
                <p class="heading-set__secondary color_2e3b4e">about our Solutions,Services and Support</p>
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 " style="background-color: #fff" >
            <div class="acc-content">
                  <div>
                      <div class="quest">
                          <div class="accordionItemHeading">
                              <table>
                                  <tbody>
                                    <tr>
                                        <td>
                                            <div class="circle"><span>1</span></div>
                                        </td>
                                        <td>
                                            <h4 class="">What is your main focus ?<span class="accordian-angle"><i class="fa fa-angle-down"></i></span></h4>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>

                          <div class="answer" style="display: none;">
                              <p>Our focus is on uncovering opportunities data science brings to organizational decision making, and to help organizations use data science to collect, curate, interpret and utilize data to improve productivity. </p>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="quest">
                          <div class="accordionItemHeading">
                              <table>
                                  <tbody>
                                    <tr>
                                        <td>
                                            <div class="circle"><span>2</span></div>
                                        </td>
                                        <td>
                                            <h4><span>Do you only work on AI and ML projects?​</span> <span class="accordian-angle"><i class="fa fa-angle-down"></i></span></h4>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>

                          <div class="answer" style="display: none;">
                              <p>
                                 Not necessarily. For some clients we just develop ML & AI models, while for others we engage in a full-stack development. 
                               </p>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="quest">
                          <div class="accordionItemHeading">
                              <table>
                                  <tbody>
                                    <tr>
                                        <td>
                                            <div class="circle"><span>3</span></div>
                                        </td>
                                        <td>
                                            <h4 class="">Do you  offer support on ML applications  developed by <br/> third-party vendors?​<span class="accordian-angle"><i class="fa fa-angle-down"></i></span></h4>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>

                          <div class="answer" style="display: none;">
                              <p>Yes, we do! However, we limit ourselves to ML applications developed in Python and R programming languages. We also support application hosting on to AWS or Microsoft Azure cloud platforms.​</p>
                          </div>
                      </div>
                  </div>                  
            </div>
    </div>		  	
        </div>
    </section>
    <div class="clearfix"></div>
  
  <section class="before_footer mart_bg mart_bg_properties">
    <div class="row w-100">
      <div class="col-sm-12 col-md-10">
        <h4 class="text-left ">Ready to take <span class="font-bold"> your business</span> to the next level?​</h4>
        <p class="text-left">To schedule a demo or to get a quote, get in touch with us.</p>
      </div>
      <div class="col-sm-12 col-md-2">
        <a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
        <p class="clearfix"></p>
      </div>
    </div>
  </section>