		<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section leadership-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">Leadership</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->
		

		<!-- Skills Section
		================================================== -->
		<section id="skills" class="skills-section">		    
			<div class="container">
		    	<div class="row">
			    	<div class="col-sm-6 col-md-3 ">
			    	 	<div class="grid cs-style-6 p-0">
				    		<div class="">
				    			<figure>
										<img src="../../../assets/images/msg_1-1.jpg" alt="img04">
										<figcaption>
											<h3 class="text-center">Sreegopal Mandapaka</h3>
											<span class="text-center color_189dbc d-block font-bold">CEO, Co-founder</span>
											<div class="icon_list">
												<a href="#" target="" title=""><span class="fa fa-facebook"></span></a><a href="#" target="" title=""><span class="fa fa-twitter"></span></a><a href="#" target="" title=""><span class="fa fa-google-plus"></span></a><a href="#" target="" title=""><span class="fa fa-linkedin"></span></a>
											</div>
										</figcaption>
								</figure>
				    		</div>
			    		</div>
			    		<h4 class="font-bold">Sreegopal Mandapaka</h4>
			    		<p class="font-size_14   color_676767">CEO, Co-founder</p>
			    	</div>
			    	<div class="col-sm-6 col-md-3 ">
			    	 	<div class="grid cs-style-6 p-0">
				    		<div class="">
				    			<figure>
										<img src="../../../assets/images/20181230_134105.jpg" alt="img04">
										<figcaption>
											<h3 class="text-center">Jyothi Mangal</h3>
											<span class="text-center d-block color_189dbc font-bold">Co-founder, Director - Singapore</span>
											<div class="icon_list">
												<a href="#" target="" title=""><span class="fa fa-facebook"></span></a><a href="#" target="" title=""><span class="fa fa-twitter"></span></a><a href="#" target="" title=""><span class="fa fa-google-plus"></span></a><a href="#" target="" title=""><span class="fa fa-linkedin"></span></a>
											</div>
										</figcaption>
								</figure>
				    		</div>
			    		</div>
			    		<h4 class="font-bold ">Jyothi Mangal</h4>
			    		<p class="font-size_14   color_676767">Director - Singapore, Co-founder</p>
			    	</div>
			    	<div class="col-sm-6 col-md-3 ">
			    	 	<div class="grid cs-style-6 p-0">
				    		<div class="">
				    			<figure>
										<img src="../../../assets/images/Moses4.jpg" alt="img04">
										<figcaption>
											<h3 class="text-center">Moses Mawuru</h3>
											<span class="text-center d-block color_189dbc font-bold">Director - UK</span>
											<div class="icon_list">
												<a href="#" target="" title=""><span class="fa fa-facebook"></span></a><a href="#" target="" title=""><span class="fa fa-twitter"></span></a><a href="#" target="" title=""><span class="fa fa-google-plus"></span></a><a href="#" target="" title=""><span class="fa fa-linkedin"></span></a>
											</div>
										</figcaption>
								</figure>
				    		</div>
			    		</div>
			    		<h4 class="font-bold ">Moses Mawuru</h4>
			    		<p class="font-size_14   color_676767">Director - UK</p>
			    	</div>
			    	<div class="col-sm-6 col-md-3 ">
			    	 	<div class="grid cs-style-6 p-0">
				    		<div class="">
				    			<figure>
										<img src="../../../assets/images/P6.jpg" alt="img04">
										<figcaption>
											<h3 class="text-center">Pratik Goyal</h3>
											<span class="text-center d-block color_189dbc font-bold">Practice Head, Data Science </span>
											<div class="icon_list">
												<a href="#" target="" title=""><span class="fa fa-facebook"></span></a><a href="#" target="" title=""><span class="fa fa-twitter"></span></a><a href="#" target="" title=""><span class="fa fa-google-plus"></span></a><a href="#" target="" title=""><span class="fa fa-linkedin"></span></a>
											</div>
										</figcaption>
								</figure>
				    		</div>
			    		</div>
			    		<h4 class="font-bold ">Pratik Goyal</h4>
			    		<p class="font-size_14   color_676767">Practice Head, Data Science </p>
			    	</div>
			    </div>
			</div>
		</section>
		<!-- /.skills-section -->
		
		<section class="before_footer mart_bg mart_bg_properties">
			<div class="row w-100">
				<div class="col-sm-12 col-md-10">
					<h4 class="text-left ">Ready to take <span class="font-bold"> your business</span> to the next level?​</h4>
					<p class="text-left">To schedule a demo or to get a quote, get in touch with us.</p>
				</div>
				<div class="col-sm-12 col-md-2">
					<a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
					<p class="clearfix"></p>
				</div>
			</div>
		</section>