<!-- Hero Section
		================================================== -->
<section id="hero" class="hero-section testimonial-section">
  <div class="hero-layer black-gradient"></div>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-12 h-100">
        <div class="hero-logo">

        </div>
        <div class="typed-text">
          <span class="skilltechtypetext">
            <span class="typed-cursor">Testimonials</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.hero-section -->


<!-- Skills Section
  ================================================== -->
<section id="skills" class="skills-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="testimonial-slider" class="owl-carousel">
          <div class="testimonial">
            <p class="description">Aptagrim designed a web application for a complex production line with different
              APIs. It includes API for Taobao, JD and Magento 2. Sreegopal was available all the time and supports us
              with logic behind our development. Aptagrim was always in time schedule and make the project successfully.
              It was a pleasure to work with Aptagrim and we still customer for next development steps. Thank you very
              much for your time!</p>
            <div class="testimonial-content">
              <div class="pic"><img src="../../../assets/images/4_300.jpg"></div>
              <h3 class="title">Michael Fricke
                <span class="subtittle d-block">CEO, FF Investments GmbH</span>
              </h3>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
                                
          </div>
          <div class="testimonial">
            <p class="description">Aptagrim are an integral part of our development team. We have worked together for a
              number of years and have consistently been impressed with the speed and dedication that they have applied
              to every task. The internal structure has meant we have the benefits of an internal team with bonus of a
              godd amount of additional resource to call on when our needs dictate </p>
            <div class="testimonial-content">
              <div class="pic"><img src="../../../assets/images/Horst_N3.jpg"></div>
              <h3 class="title">Horst Schulz
                <span class="subtittle d-block">Director - FTEC Foreign Trade Expert Consulting GmbH</span>
                <div class="clearfix"></div>
              </h3>
            </div>
            <div class="clearfix"></div>
                               
          </div>
          <div class="testimonial">
            <p class="description">I am extremely happy with Mr Sree and his team's dedication, effort and expertise. I
              have met not just a very good developer, but also a mentor and a good friend who supports me whenever I
              need it. Very professional and works with great commitment and sophistication. Indeed, I will definitely
              recommend Mr Sree and his team for any project development. Thank you so much Mr Sree! </p>
            <div class="testimonial-content">
              <div class="pic"><img src="../../../assets/images/rsch1.png"></div>
              <h3 class="title">Reyna Mirinda
                <span class="subtittle d-block">Data Science Research Scholar</span>
              </h3>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
                                
          </div>
          <div class="testimonial">
            <p class="description">Sree and his team are an exceptional team when it comes to delivery of requirements.
              They are very skilled technically as well as in managing projects. In most cases you get one attribute and
              not both but with this team you get them all. Their level of comprehending requirements is top notch and
              keep you updated on project progress with detailed visuals and demos. With this team , every task is
              personal and that is what makes me a happy client. </p>
            <div class="testimonial-content">
              <div class="pic"><img src="../../../assets/images/1_300.jpg"></div>
              <h3 class="title">Moses Mawuru
                <span class="subtittle d-block">Director - Jobs AHOY, UK</span>
              </h3>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix">
            </div>
          </div>
          <div class="testimonial">
            <p class="description"> Aptagrim solved a difficult installation problem in just a few hours. I am very
              satisfied with their work and soon I will have more project for them.</p>
            <div class="testimonial-content">
              <div class="pic"><img src="../../../assets/images/3_300.jpg"></div>
              <h3 class="title">Dr.Abraham 'Abe' Gill
                <span class="subtittle d-block">CEO - from IP to IPO</span>
              </h3>
              <div class="clearfix"></div>
                                      
            </div>
            <div class="clearfix"></div>
                                
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.skills-section -->

<section class="before_footer mart_bg mart_bg_properties">
  <div class="row w-100">
    <div class="col-sm-12 col-md-10">
      <h4 class="text-left ">Ready to take <span class="font-bold"> your business</span> to the next level?​</h4>
      <p class="text-left">To schedule a demo or to get a quote, get in touch with us.</p>
    </div>
    <div class="col-sm-12 col-md-2">
      <a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow"> Get in touch </a>
      <p class="clearfix"></p>
    </div>
  </div>
</section>