<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section mldevelopment-section">
      <div class="hero-layer black-gradient"></div>
      <div class="container-fluid h-100">
          <div class="row h-100">
              <div class="col-lg-12 h-100">
                  <div class="hero-logo">
                      
                  </div>
                  <div class="typed-text">
                      <span class="skilltechtypetext">
                          <span class="typed-cursor">Machine Learning Development</span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.hero-section -->
  

   <div class="container-fluid p-0">		    	
        <div class="container_custom">
        <div class="row">
              <div class="col-sm-12">
                <ul id="technology-focus">
            <li>
              <img src="../../../assets/images/technology1.png">
            </li>
            <li>
              <img src="../../../assets/images/technology2.png">
            </li>
            <li>
              <img src="../../../assets/images/spacy_logo.png">
            </li>
            <li>
              <img src="../../../assets/images/technology4.png">
            </li>
            <li>
              <img src="../../../assets/images/scikit_logo.png">
            </li>
            <li>
              <img src="../../../assets/images/technology6.png">
            </li>
            <li>
              <img src="../../../assets/images/technology7.png">
            </li>
            <li>
              <img src="../../../assets/images/technology8.png">
            </li>
            <li>
              <img src="../../../assets/images/technology9.png">
            </li>
            <li>
              <img src="../../../assets/images/technology10.png">
            </li>
          </ul>
              </div>
        </div>
      </div>
    </div>

    <section id="skills" class="skills-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-justify hiring_para_class">Machine learning applications help in driving the smart business results that have potential to cut down on costs and to save a lot of time spent on manual business operations. By automating the various tasks, Machine Learning allows businesses to boost the productivity.</p>

            <div class="job_description">
            <p class="text-left hiring_para_class">Aptagrim can undertake challenging machine learning development services associated with</p>
            <ul>
              <li>Algorithm Design</li>
              <li>Data Modelling</li>
            </ul>
          </div>
          </div>
      </div>
    </div>
  </section>
  <section class="mart_bg w-100">
    <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 ">
                  <h2 class="color_2e3b4e fontweg_300 text-center ag_ml_devp_desp" >Aptagrim is the technology partner for <span class="fontweg_400">JobRocket Limited,</span> UK. <span class="carrer_desp_block"> <span class="fontweg_400">JobRocket,</span>  a Machine Learning integrated job board developed and supported by Aptagrim </span> </h2>
              </div>
          </div>
      </div>
    </section>
    <section id="skills" class="skills-section">
      <div class="container">
        <div class="row">			    	   	
          <div class="col-md-6 ">
            <div>
              <img class="img-responsive w-100"  src="../../../assets/images/job rocket_one.jpg" >
            </div>
          </div>
         <div class="col-md-6">	
             <div class="d-flex align-items-center ag_ml_devp_img_desp">
               <div>			   		
                 <p class="text-justify hiring_para_class paddingl_30">JobRocket is the go-to Launchpad helping both job seekers and recruiters in the <span class="font-bold">UK</span> to find their dream job or candidate better than before.</p>
                 <a class="common-btn common_btn_css" href="https://www.jobrocket.co.uk/" target="_blank">Learn more</a>
               </div>
             </div>
         </div>
      </div>
      <div class="row mt-5">
         <div class="col-md-6">
             <div class="d-flex align-items-center ag_ml_devp_imgtwo_desp">
               <div>
                 <h2 class="mb-1 text-left">How does JobRocket benefit job seekers?</h2>
                 <p class="text-justify hiring_para_class ">JobRocket helps to speed-up the job search process. After uploading their CV, seekers can search for jobs in the JobRocket database (which includes jobs posted directly to the JobRocket website and major UK job searching sites).</p>
                 <p class="text-justify hiring_para_class ">The unique JobRocket machine learning algorithm then instantly evaluates key elements in the CV against each job position and generates constructive feedback to help tailor the CV to the job being applied for, helping to bypass Applicant Tracking Systems used by employers when screening applications.</p>
               </div>
             </div>
         </div>
         <div class="col-md-6">
              <img class="img-responsive m-auto"  src="../../../assets/images/png copy.png" >
              <div class="mt-3 text-center">
                <i id="launchjobrocketvideo" data-toggle="modal"  data-target="#jobrocketvideomodal" class="fa fa-play-circle color_189dbc cursor_pointer"   aria-hidden="true" style="font-size: 40px;"></i>	
              </div>
          </div>
      </div>
    </div>
  </section>
  

  <section class="before_footer mart_bg mart_bg_properties">
    <div class="row w-100">
      <div class="col-sm-12 col-md-10">
        <h4 class="text-left ">Ready to take <span class="font-bold"> your business</span> to the next level?​</h4>
        <p class="text-left">To schedule a demo or to get a quote, get in touch with us.</p>
      </div>
      <div class="col-sm-12 col-md-2">
        <a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
        <p class="clearfix"></p>
      </div>
    </div>
  </section>

  <div class="modal fade in" id="jobrocketvideomodal" tabindex="-1" role="dialog" aria-labelledby="rating-confirm-modal" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px">
      <div class="modal-content">
         <div class="modal-body">
              <script src="https://fast.wistia.com/embed/medias/aps3a0xj3a.jsonp" async></script>
              <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
              <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
              <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_aps3a0xj3a videoFoam=true" style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
              <img src="https://fast.wistia.com/embed/medias/aps3a0xj3a/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
              </div>
              </div>
              </div>
              </div>
        </div>
        </div>
    </div>
</div>