		<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section partner-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">Partners</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->
		

		<!-- Skills Section
		================================================== -->
		<section id="skills" class="skills-section">
		    <div class="container">
		    	<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="onhover_block patnres_parent_block">
							<div class="partner_opening_block patners_block cursor_defalut h-100 p-0 m-0">
								<img width="300" height="100%"  src="../../../assets/images/5.jpg" class="img-responsive">
								<p class="p-2   font-size_14">A Microsoft Partner Network member, APTAGRIM helps enterprises move their applications to Microsoft Azure using PaaS. Enterprises still retain control over their application, but you no longer have to worry about the underlying host and operating system.</p>
							</div>	
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="onhover_block patnres_parent_block">
							<div class="partner_opening_block patners_block cursor_defalut h-100 p-0 m-0">
								<img width="300" height="100%"  src="../../../assets/images/3.jpg" class="img-responsive">
								<p class="p-2   font-size_14">Aptagrim effectively deploys secure, highly scalable, cloud computing services that offer compute power, database storage, content delivery and other business functionality. By leveraging AWS cloud solutions, we build applications with increased flexibility, scalability and reliability.</p>
							</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="onhover_block patnres_parent_block">
							<div class="partner_opening_block patners_block cursor_defalut p-0 h-100 m-0">
								<img width="300" height="100%"  src="../../../assets/images/4.jpg" class="img-responsive">
								<p class="p-2   font-size_14">Aptagrim has bagged accreditation by NASSCOM, the apex trade association for Indian information technology and business process outsourcing industry. Aptagrim makes use of the best industry practices to deliver best-in-class services, solutions, and products to the global clients.</p>
							</div>	
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="onhover_block patnres_parent_block">
							<div class="partner_opening_block patners_block cursor_defalut p-0 m-0 h-100">
								<img width="300" height="100%"  src="../../../assets/images/2.jpg" class="img-responsive">
								<p class="p-2    font-size_14">Aptagrim's strategic technology partner in Germany is FTEC - Foreign Trade Expert Consulting GmbH. FTEC is a SAP partner company and offers SAP implementation, Integration and AMS services. FTEC is also a SAP GTS cloud partner offering various foreign trade integration solutions.</p>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.skills-section -->

		<section class="before_footer mart_bg mart_bg_properties">
			<div class="row w-100">
				<div class="col-sm-12 col-md-9">
					<h4 class="text-left ">Ready to take <span class="font-bold"> your business</span> to the next level?​</h4>
					<p class="text-left">To schedule a demo or to get a quote, get in touch with us.</p>
				</div>
				<div class="col-sm-12 col-md-3">
					<a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
					<p class="clearfix"></p>
				</div>
			</div>
		</section>