<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section aptadf-section">
      <div class="hero-layer black-gradient"></div>
      <div class="container-fluid h-100">
          <div class="row h-100">
              <div class="col-lg-12 h-100">
                  <div class="hero-logo">
                      
                  </div>
                  <div class="typed-text">
                      <span class="skilltechtypetext">
                          <span class="typed-cursor">Apta<span class="font-bold">DF</span></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.hero-section -->
  <section id="our-work" class="our-work-section">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 see-work mart_bg">
                  <h2 class="color_2e3b4e fontweg_300">Sales and <span class="fontweg_400">Demand Forecasting</span> using Machine Learning</h2>
              </div>
          </div>
      </div>
  </section>

  <!-- Skills Section
  ================================================== -->
  <section id="skills" class="skills-section">
      <div class="container">
        <div class="row">		    	
          <div class="col-md-6">
            <div class="df_imagee">
              <img class="img-responsive w-100"  src="../../assets/images/demand forecast.jpg" >
            </div>
          </div>
         <div class="col-md-6 h-100">
             <div class="d-flex align-items-center df_imagee">
               <div>
                 <p class="text-justify hiring_para_class paddingl_30">In today’s world of extreme competition, cost reduction is of utmost importance for organizations, primarily in the retail and consumer product goods (CPG) industries. All the major players in these industries try to focus on cost-cutting and maintaining optimum inventory levels to gain a competitive edge. In addition to cost optimization, having just the right amount of inventory is also becoming important for consumer satisfaction especially in the perishable retail goods market.</p>
                 <p class="text-justify hiring_para_class paddingl_30">This is where demand forecasting helps these companies. Efficient and accurate demand forecasts enables organizations to anticipate demand and consequently allocate the optimal amount of resources to minimize stagnant inventory.
                 </p>
               </div>
             </div>
         </div>
      </div>
      <div class="row mt-5">
         <div class="col-md-6">
             <div class="d-flex align-items-center df_imageee" >
               <div>
                 <p class="text-justify hiring_para_class ">Sales and demand are typically forecasted by methods of linear regression, gradient boosting with decision trees or recurrent neural networks based on historical data and some additional data like:</p>
                 <div class="job_description">
                <ul>
                  <li>weather conditions​</li>
                  <li>market situation​</li>
                  <li>currency exchange rates​</li>
                </ul>
              </div>
            </div>
          </div>
         </div>
         <div class="col-md-6">
             <div class="paddingl_30 df_imageee">
              <img class="img-responsive w-100"  src="../../assets/images/df_image.png" >
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- /.skills-section -->

  <section class="before_footer mart_bg mart_bg_properties">
    <div class="row w-100">
      <div class="col-sm-12 col-md-9">
        <h4 class="text-left df_text ">To start forecasting <span class="font-bold"> demand  </span> for your product line or service</h4>					
      </div>
      <div class="col-sm-12 col-md-3">
        <a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
        <p class="clearfix"></p>
      </div>
    </div>
  </section>