<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section technology-banner-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">AI & ML</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->
		
		<div class="tabs-animated">
			<!-- Nav tabs -->
		  <ul class="nav nav-tabs mart_bg technology_navtabs" role="tablist">
			  <li role="presentation" class="active">
				  <a href="#tab1" aria-controls="tab1"  role="tab" data-toggle="tab">
					  <div class="tech_icons">
						  <img src="../../../assets/images/tech_icon_three.png" class="img-responsive d-block m-auto">
						  <p>Computer <br/> Vision</p>
					  </div>
				  </a>
			  </li>
			  <li role="presentation">
				  <a href="#tab2" aria-controls="tab2" role="tab" class="tech_icons_con" data-toggle="tab">		
					  <div class="tech_icons">
						  <img src="../../../assets/images/tech_icon_four.png" class="img-responsive d-block m-auto">
						  <p>Natural Language <br/> Processing</p>
					  </div>
				  </a>
			  </li>
			  <li role="presentation">
				  <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
					  <div class="tech_icons">
						  <img src="../../../assets/images/tech_icon_one.png" class="img-responsive d-block m-auto">	
						  <p>Speech <br/> Recognition</p>	
					  </div>		
				  </a>
			  </li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			  <div role="tabpanel" class="tab-pane fade in active mt-5" id="tab1">
				  <div class="container-fluid" style="margin-top: 47px;">
					  <div class="row">
						  <div class="col-sm-12 col-lg-3">
							  <div class="content-left text-right amazingcarousel-container-4_heg ">
									<div class="box-item ml-auto left mb-auto">
										  <span class="icon">
											<i class="fa fa-users" aria-hidden="true"></i>
										  </span>
										  <div class="text">
											<h4 class="color_189dbc  custom-amazingcarousel1-bullet-0 cursor_pointer">Facial detection</h4>
											<p>Detect human faces within images and videos and return face location.</p>
										  </div>
									</div>
									<div class="box-item ml-auto left ">
										  <span class="icon">
											<i class="fa fa-smile-o" aria-hidden="true"></i>
										  </span>
										  <div class="text">
											<h4 class="color_189dbc  custom-amazingcarousel1-bullet-1 cursor_pointer">Emotion detection</h4>
											<p>Locate a high-precision facial keypoints in images, such as eyes, noses, eyebrows and mouths.</p>
										  </div>
									</div>		             
							  </div>
						  </div>
						  <div class="col-sm-12 col-lg-6 amazingcarousel_maincontainer">
							  <!-- <img src="static/images/tech-laptop.png" class="img-responsive d-block m-auto"> -->

							  <!-- Insert to your webpage where you want to display the carousel -->
							  <div id="amazingcarousel-container-4">
								  <div id="amazingcarousel-4" style="display:none;position:relative;margin:0px auto 0px;">
									  <div class="amazingcarousel-list-container">
										  <ul class="amazingcarousel-list">
											  <li class="amazingcarousel-item">
												  <div class="amazingcarousel-item-container">
													  <div class="amazingcarousel-image">
														  <a href="../../../assets/images/carousel-images/facial-detection-lightbox.jpg" title="facial-detection"  class="html5lightbox" data-group="amazingcarousel-1">
															  <img src="../../../assets/images/carousel-images/facial-detection.jpg"  alt="facial-detection" />
														  </a>
													  </div>
												  </div>
											  </li>
											  <li class="amazingcarousel-item">
												  <div class="amazingcarousel-item-container">
													  <div class="amazingcarousel-image">
														  <a href="../../../assets/images/carousel-images/emotion-detection-lightbox.jpg" title="emotion-detection"  class="html5lightbox" data-group="amazingcarousel-1">
															  <img src="../../../assets/images/carousel-images/emotion-detection.jpg"  alt="emotion-detection" />
														  </a>
													  </div>
												  </div>
											  </li>
											  <li class="amazingcarousel-item">
												  <div class="amazingcarousel-item-container">
													  <div class="amazingcarousel-image">
														  <a href="../../../assets/images/carousel-images/gender-detection-lightbox.jpg" title="gender-detection"  class="html5lightbox" data-group="amazingcarousel-1">
															  <img src="../../../assets/images/carousel-images/gender-detection.jpg"  alt="gender-detection" />
														  </a>
													  </div>
												  </div>
											  </li>
											  <li class="amazingcarousel-item">
												  <div class="amazingcarousel-item-container">
													  <div class="amazingcarousel-image">
														  <a href="../../../assets/images/carousel-images/image-cationing-lightbox.jpg" title="image-cationing"  class="html5lightbox" data-group="amazingcarousel-1">
															  <img src="../../../assets/images/carousel-images/image-cationing.jpg"  alt="image-cationing" />
														  </a>
													  </div>
												  </div>
											  </li>
										  </ul>
										  <div class="amazingcarousel-prev"></div>
										  <div class="amazingcarousel-next"></div>
									  </div>
									  <div class="amazingcarousel-nav"></div>
									  <div class="amazingcarousel-engine"><a href="http://amazingcarousel.com">jQuery Image Scroller</a></div>
								  </div>
							  </div>
							  <div class="clearfix"></div>
						  </div>
						  <div class="col-sm-12 col-lg-3">
							  <div class="content-right text-left amazingcarousel-container-4_heg ">
								  <div class="box-item mr-auto right mb-auto">
									  <span class="icon">
										  <i class="fa fa-venus" aria-hidden="true"></i>
									  </span>
									  <div class="text">
											<h4 class="color_189dbc custom-amazingcarousel1-bullet-2 cursor_pointer">Gender detection</h4>
											<p>Precisely measure facial attributes like age, gender, ethnicity, emotions detection, and many more features.</p>
									  </div>
									</div>
									<div class="box-item mr-auto right">
									  <span class="icon">
											<i class="fa fa-picture-o" aria-hidden="true"></i>
									  </span>
									  <div class="text">
											<h4 class="color_189dbc custom-amazingcarousel1-bullet-3 cursor_pointer">Image Captioning</h4>
											<p>Verify if two faces belong to the same person by analyzing similarities.</p>
									  </div>
									</div>										             
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
			  <div role="tabpanel" class="tab-pane fade" id="tab2">
				  <div class="container">
					  <div class="row mt-5">
						  <div class="col-sm-12  col-md-6">
							  <div class="">
									 <img src="../../../assets/images/nlp1.jpg" class="img-responsive w-100">
								 </div>
								 <div class="clearfix"></div>
						  </div>
						  <div class="col-sm-12 col-md-6">
							  <div class="main_container_wapper d-flex align-items-center main_innercontainer_servecies_heg ">
								  <div class="main_innercontainer_servecies">
									  <div class="text-center"><i class="fa fa-file-text-o fa" aria-hidden="true"></i></div>
									  <h4 class="text-center" style="font-size: 16px;    min-height: 0px;">    Natural Language Processing (NLP)</h4>
									  <p>Natural Language Processing (NLP) is fast becoming an essential skill for modern-day organizations to gain a competitive edge. It has become the essential tool for many new business functions, from chatbots and question answering systems to sentiment analysis, compliance monitoring, and BI and analytics of unstructured and semi-structured content.</p>
									  <p>Our Natural Language Processing services cover a range of needs, from data acquisition and processing to analytics, entity extraction, fact extraction, and question answering systems.</p>
								  </div>
							  </div>
						  </div>
						  <div class="clearfix"></div>
				      </div>		
				  </div>
			  </div>
			  <div role="tabpanel" class="tab-pane fade" id="tab3">
				  <div class="container" style="margin-top: 120px;">
					  <div class="row">
						  <div class="col-md-4">
							  <div class="testimonial-speech-recognization">
								  <img src="../../../assets/images/spech_icon1.png" alt="TryoLabs" >
								  <h3 class="title">Improve Customer Engagement
									  <!-- <span class="post">- Web Developer</span> -->
								  </h3>
								  <p class="description">
									  Chat Bots offer customer a conveninent way to get the information they need, htere by encouraging better customer engagement with brands.
								  </p>
							  </div>
						  </div>
						  <div class="col-md-4">
							  <div class="testimonial-speech-recognization">

								  <img src="../../../assets/images/spech_icon2.png" alt="TryoLabs" >

								  <h3 class="title">Ease Of Access
									  <!-- <span class="post">- Web Developer</span> -->
								  </h3>
								  <p class="description" style="margin-bottom: 30px;">
									  Chat Boats make it easy for customers to reach you since you are on their chat applications. No need to download a new app.
								  </p>
							  </div>
						  </div>
						  <div class="col-md-4">
							  <div class="testimonial-speech-recognization">	
							  <img src="../../../assets/images/spech_icon3.png" alt="TryoLabs" >

								  <h3 class="title">Boost your Sales
									  <!-- <span class="post">- Web Developer</span> -->
								  </h3>
								  <p class="description" style="margin-bottom: 30px;">
									  Brands that use chat boats are able to gain new insights due to better customer engagement, resulting in better sales.
								  </p>
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>

	  <!-- Skills Section
	  ================================================== -->
	  <section id="technology" class="technology-section">
		  <div class="black-gradient"></div>
		  <div class="container-fluid p-0">
			  <div class="row">
				  
			  </div>
		  </div>
	  </section>
	  <!-- /.skills-section -->

	  <section class="before_footer mart_bg mart_bg_properties">
		  <div class="row w-100">
			  <div class="col-sm-12 col-md-9">
				  <h4 class="text-left df_text">to learn more about <span class="font-bold"> facial analytics </span> using <span class="font-bold"> Deep Learning </span> </h4>
			  </div>
			  <div class="col-sm-12 col-md-3">
				  <a href="/contact" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
				  <p class="clearfix"></p>
			  </div>
		  </div>
	  </section>