<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section contact-banner-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">Get In Touch</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->
		<section class="mart_bg mart_bg_properties" style="padding-top: 1.5%;padding-bottom: 1.5%;">
			<div class="row w-100">
				<div class="col-sm-12">
					<h4 class="text-center contect_text ">Have a <span class="font-bold">Data Science</span>  need or want to know more about our services?</h4>
					
				</div>				
			</div>
		</section>

		<!-- Contact Section
		================================================== -->
		<section id="contact" class="contact-section">
		    <div class="container">
		    	<div class="row ">
		        	<div class="col-sm-12 col-md-4">
		        		<div class="main_grid">
		        			<div class="grid_container">
		        				<img src="../../../assets/images/SG1.png" alt="img30"/>
		        				<div class="grid_container_text">
		        					<h2>Singapore
<pre>
Aptagrim Consulting Pte. Ltd.
151 Chin Swee Road
#07 – 12 Manhattan House
SINGAPORE 169976
Tel: +65 3159 0018
Email: info@aptagrim.com
</pre>
		        					</h2>
		        					
										<p>
											<a href="https://twitter.com/aptagrim"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a href="https://www.linkedin.com/in/aptagrim/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
											<a href="https://www.youtube.com/channel/UC6JUZUqqLd-aUW20VK_Oo2w"><i class="fa fa-youtube" aria-hidden="true"></i></a>
										</p>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-sm-12 col-md-4">
		        		<div class="main_grid">
		        			<div class="grid_container">
		        				<img src="../../../assets/images/UK1.png" alt="img30"/>
		        				<div class="grid_container_text">
		        					<h2>UK
<pre>
Aptagrim Consulting Limited
71 – 75 Shelton Street
Covent Garden
LONDON, WC2H 9JQ
Tel: +44 20 3957 9862
Email: info@aptagrim.com
</pre>
		        					</h2>
		        					
										<p>
											<a href="https://twitter.com/aptagrim"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a href="https://www.linkedin.com/in/aptagrim/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
											<a href="https://www.youtube.com/channel/UC6JUZUqqLd-aUW20VK_Oo2w"><i class="fa fa-youtube" aria-hidden="true"></i></a>
										</p>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-sm-12 col-md-4">
		        		<div class="main_grid">
		        			<div class="grid_container">
		        				<img src="../../../assets/images/IND1.png" alt="img30"/>
		        				<div class="grid_container_text">
		        					<h2>India
<pre>
Aptagrim Consulting LLP
Plot # 201, Lorven Arcade
Level 2, Allwyn ‘X’ Roads
Miyapur, HYDERABAD – 500049
Tel: +91 40 4853 1014
Email: info@aptagrim.com
</pre>
		        					</h2>
		        					
										<p>
											<a href="https://twitter.com/aptagrim"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a href="https://www.linkedin.com/in/aptagrim/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
											<a href="https://www.youtube.com/channel/UC6JUZUqqLd-aUW20VK_Oo2w"><i class="fa fa-youtube" aria-hidden="true"></i></a>
										</p>
		        				</div>
		        			</div>
		        		</div>
		        	</div>	        	
		        </div>		    
		    </div>
		</section>
		<section class="mart_bg" style="background-size: cover;  ">
			<div class="container-fluid p-0">
			    <div class="row">
		            <div class="col-sm-12 col-md-5">
		            	<img src="../../../assets/images/global locations.png" class="img-responsive global_locations">
		            </div>
		            <div class="col-sm-12 col-md-7">
		            	<div class="contact-form_container">
		            		<div class="row">
		            			<div class="col-sm-12 col-md-6">
		            				<div class="input-element">
		            					<div class="input-element_icon">
		            						<i class="fa fa-user" aria-hidden="true"></i>
		            					</div>
		            					<input type="text" name="" placeholder="Name">
		            				</div>
		            			</div>
		            			<div class="col-sm-12 col-md-6">
		            				<div class="input-element">
		            					<div class="input-element_icon">
		            						<i class="fa fa-building" aria-hidden="true"></i>
		            					</div>
		            					<input type="text" name="" placeholder="Company Name">
		            				</div>
		            			</div>
		            		</div>
		            		<div class="row">
		            			<div class="col-sm-12 col-md-6">
		            				<div class="input-element">
		            					<div class="input-element_icon">
		            						<i class="fa fa-envelope-o" aria-hidden="true"></i>
		            					</div>
		            					<input type="email" name="" placeholder="Email">
		            				</div>
		            			</div>
		            			<div class="col-sm-12 col-md-6">
		            				<div class="input-element">
		            					<div class="input-element_icon">
		            						<i class="fa fa-phone" aria-hidden="true"></i>
		            					</div>
		            					<input type="text" name="" placeholder="Phone">
		            				</div>
		            			</div>
		            		</div>
		            		<div class="row">
			            		<div class="col-sm-12">
			            				<div class="input-element">
			            					<div class="input-element_icon">
			            						<i class="fa fa-pencil" aria-hidden="true"></i>
			            					</div>
			            					<textarea style="height: 150px;" placeholder="How can we help you?"></textarea> 
			            				</div>
			            			</div>
		            		</div>
		            		<div class="mx-auto call-to-section call-to-section_new">
								<button class="common-btn common_btn_css" style=" border: 0px;padding: 10px 25px;">SEND</button>
							</div>
		            	</div>
		            </div>
		        </div>
		    </div>
		</section>

		<!-- /.contact-section -->