		<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section predictivemaintenance-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">Predictive Maintenance</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->

		<section id="our-work" class="our-work-section">
		    <div class="container-fluid">
		        <div class="row">
		            <div class="col-md-12 mart_bg">
		                <h2 class="color_2e3b4e fontweg_300 text-center carrer_desp"> <span class="font-bold"> Predictive Maintenance </span> powered by <span class="font-bold"> Machine Learning </span>
		                </h2>
		            </div>
		        </div>
		    </div>
		</section>
		

		<!-- Skills Section
		================================================== -->
		<section id="skills" class="skills-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex align-items-center">
              <div>
                <p class="text-justify hiring_para_class">Predictive maintenance can help businesses in several industries achieve high asset utilization and savings in operational costs. Businesses require critical equipment to be running at peak efficiency and utilization to realize their return on capital investments. </p>

                <div class="job_description">
                <p class="text-left hiring_para_class">The relevant data sources for predictive maintenance include, but are not limited to:</p>
                <ul>
                  <li>Failure history</li>
                  <li>Maintenance/repair history</li>
                  <li>Machine operating conditions</li>
                  <li>Equipment metadata</li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
				<div class="row mt-2">			    	   	
		    		<div class="col-md-6 ">
		    			<div class="equal-height-img">
		    				<img class="img-responsive w-100"  src="../../../assets/images/pm_image.jpg" >
		    			</div>
		    		</div>
				   <div class="col-md-6">	
				   		<div class="equal-height d-flex align-items-center">
				   			<div style="padding-top: 15px;">
						   		<h2 class="text-left mt-0 " style="margin-bottom: 11px;">Modeling techniques for predictive maintenance</h2>				   		
				   				<ul style="padding-left: 0px;">
				   					<li class="text-left hiring_para_class  ">
				   						<span class="font-bold"> Binary classification </span> is used to predict the  probability that a piece of equipment fails within a future time period. Key indicators identified are :

			   							<div class="job_description ">
											<ul>
												<li style="margin-bottom: 5px;margin-top: 5px;    font-size: 15px;">minimum lead time required to replace components, deploy maintenance resources, perform maintenance to avoid a problem that is likely to occur in that period.</li>
												<li style="font-size: 15px;">minimum count of events that can happen before a problem occurs.</li>
                      </ul>
										</div>
				   					</li>
				   					<li class="text-left hiring_para_class mt-2  ">
				   						<span class="font-bold"> Regression models </span> are used to compute the remaining useful life (RUL) of an asset.
				   						<div class="job_description">	
											<ul>
												<li style="margin-bottom: 5px;margin-top: 5px;font-size: 15px;">RUL is defined as the amount of time that an asset is operational before the next failure occurs.</li>	
                      </ul>
										</div>
				   					</li>
				   				</ul>
			   				</div>
			   			</div>
				   </div>
				</div>
			</div>
		</section>
		<!-- /.skills-section -->

		<section class="before_footer mart_bg mart_bg_properties">
			<div class="row w-100">
				<div class="col-sm-12 col-md-9">
					<h4 class="text-left df_text ">to start discussing your <span class="font-bold"> predictive maintenance </span> requirements </h4>
				</div>
				<div class="col-sm-12 col-md-3">
					<a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
					<p class="clearfix"></p>
				</div>
			</div>
		</section>