		<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section predictiveanalytics-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">Predictive Analytics</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->


		<section id="our-work" class="our-work-section">
		    <div class="container-fluid">
		        <div class="row">
		            <div class="col-md-12 mart_bg">
		                <h2 class="color_2e3b4e fontweg_300 text-center carrer_desp"> Leverage our <span class="font-bold"> Predictive Analytics </span> models to power your <span class="font-bold"> business </span>
		                </h2>
		            </div>
		        </div>
		    </div>
		</section>
		

		<!-- Skills Section
		================================================== -->
		

		<section id="skills" class="skills-section">
		    <div class="container">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="main_container_servecies">
		    				<div class="main_innercontainer_servecies box_shadow">
		    					<!-- <i class="fa fa-superpowers" aria-hidden="true"></i> -->
		    					<img src="../../../assets/images/prediction.png" alt="Logo">
		    					<h4>Churn prediction</h4>
		    					<p>Predict customer chum and take effective actions to retain the Customer before it is too late.</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
				   		<div class="main_container_servecies">
				   			<div class="main_innercontainer_servecies box_shadow">
				   				<!-- <i class="fa fa-cogs fa" aria-hidden="true"></i> -->
				   				<img src="../../../assets/images/recommanation.png" alt="Logo">
				   				<h4>Recommendation system</h4>
				   				<p>Leverage machine learning to tailor recommendations to each of your unique customers.</p>
				   			</div>
				   		</div>
				   	</div>
		    		<div class="col-md-4">
				   		<div class="main_container_servecies">
				   			<div class="main_innercontainer_servecies box_shadow">
				   				<!-- <i class="fa fa-commenting-o " aria-hidden="true"></i> -->
				   				<img src="../../../assets/images/system.png" alt="Logo">
				   				<h4>Customer segmentation</h4>
								<p>Achieve deeper customer understanding and more effective customer marketing.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
		    		<div class="col-md-4">
						<div class="main_container_servecies">
		    				<div class="main_innercontainer_servecies box_shadow">
		    					<!-- <i class="fa fa-file-code-o fa" aria-hidden="true"></i> -->
		    					<img src="../../../assets/images/demand.png" alt="Logo">
		    					<h4>Demand forecasting</h4>
		    					<p>Respond to your business supply needs faster and more accurately.</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="main_container_servecies">
				   			<div class="main_innercontainer_servecies  box_shadow">
				   				<!-- <i class="fa fa-weixin fa" aria-hidden="true"></i> -->
				   				<img src="../../../assets/images/marketing_analayis.png" alt="Logo">
				   				<h4>Marketing campaign optimization</h4>
				   				<p>Increasing marketing campaign profitability with predictive analytics.</p>
				   			</div>
				   		</div>
				   	</div>
		    		<div class="col-md-4">
				   		<div class="main_container_servecies">
				   			<div class="main_innercontainer_servecies box_shadow">
				   				<!-- <i class="fa fa-bar-chart fa" aria-hidden="true"></i> -->
				   				<img src="../../../assets/images/insights.png" alt="Logo">
				   				<h4>Insights discovery</h4>
								<p>A structured, iterative approach of drilling the data on dimensions of relevance to discover patterns of interest through both visual and tabular analyses.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
			    </div>
			<div class="clearfix"></div>	
			</div>
		</section>
		<!-- /.skills-section -->
		<div class="clearfix"></div>

		<section class="before_footer mart_bg mart_bg_properties">
			<div class="row w-100">
				<div class="col-sm-12 col-md-9">
					<h4 class="text-left df_text ">to start discussing your <span class="font-bold"> predictive analytics </span> requirements </h4>
				</div>
				<div class="col-sm-12 col-md-3">
					<a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
					<p class="clearfix"></p>
				</div>
			</div>
		</section>
		
		<div class="clearfix"></div>