<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section">
      <div class="hero-layer black-gradient"></div>
      <div class="container-fluid h-100">
          <div class="row h-100">
              <div class="col-lg-12 h-100">
                  <div class="hero-logo">
                      
                  </div>
                  <div class="typed-text">
                      <span class="skilltechtypetext">
                          <span class="typed-cursor">Apta<span class="font-bold">I</span></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.hero-section -->
  
  <div class="mart_bg w-100 mb-3">
    <div class="container-fluid">
      <div class="row text-center padding_2per">
        <div class="col-sm-3">
          <div class="tech_icons">
            <img src="static/images/tech_icon_two.png" class="img-responsive d-block m-auto">
            <p>Video <br/> Intelligence</p>		
          </div>			
        </div>				
        <div class="col-sm-3">
          <div class="tech_icons">
            <img src="static/images/tech_icon_three.png" class="img-responsive d-block m-auto">
            <p>Computer <br/> Vision</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tech_icons">
            <img src="static/images/tech_icon_four.png" class="img-responsive d-block m-auto">
            <p>Natural Language <br/> Processing </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tech_icons">
            <img src="static/images/tech_icon_one.png" class="img-responsive d-block m-auto">	
            <p>Speech <br/> Recognition</p>	
          </div>		
        </div>
      </div>
    </div>
  </div>	
  <!-- Skills Section
  ================================================== -->
  <section id="skills" class="mb-3">
      <div id="app-features" class="section">
        <!-- features Section Start -->
        <!-- <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="app-feature-content-left text-right">
                    <div class="box-item left">
                      <span class="icon">
                        <i class="fa fa-volume-up"></i>
                      </span>
                      <div class="text">
                        <h4>Speaker</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
                      </div>
                    </div>
                    <div class="box-item left">
                      <span class="icon">
                        <i class="fa fa-microphone"></i>
                      </span>
                      <div class="text">
                        <h4>Microphone</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
                      </div>
                    </div>
                    <div class="box-item left">
                      <span class="icon">
                        <i class="fa fa-camera"></i>
                      </span>
                      <div class="text">
                        <h4>Camera</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12 flex-center">

                  <div class="show-box">
                      <img src="static/images/i glasses.png" alt="">
                  </div>
                  
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="app-feature-content-right text-left">
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-bluetooth"></i>
                </span>
                <div class="text">
                  <h4>Bluetooth</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-wifi"></i>
                </span>
                <div class="text">
                  <h4>Wifi</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-mobile"></i>
                </span>
                <div class="text">
                  <h4>Touch</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing typesting industry text.</p>
                </div>
              </div>
            </div>
                </div>
            </div>
        </div> -->
        <!-- features Section End -->


        <!-- features Section Start -->
        <div class="container container_res mt-5">
            <div class="row d-flex">
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="app-feature-content-left text-right">
                      <div class="box-item left">
                        <div class="text">
                          <img src="static/images/facial detection.jpg" class="img-responsive">
                            <p class="text-left"><b>Facial detection</b></p>
                        </div>
                      </div>
                      <div class="box-item left mt-2" style="margin-top: 100px;">
                        <div class="text">
                          <img src="static/images/Emotion detection.jpg" class="img-responsive">
                            <p class="text-left"><b>Emotion detection</b></p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12 flex-center">
                  <div>
                    <div class="icons_section">
                      <div class="icons_section_inner">
                        <i class="fa fa-bluetooth"></i>
                        <h4>Speaker</h4>
                      </div>
                      <div class="icons_section_inner">
                        <i class="fa fa-microphone"></i>
                        <h4>Microphone</h4>
                      </div>
                      <div class="icons_section_inner">
                        <i class="fa fa-camera"></i>
                        <h4>Camera</h4>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="show-box">
                        <img src="static/images/aptaiglass.png" alt="">
                    </div>
                    <div class="icons_section">
                      <div class="icons_section_inner">
                        <i class="fa fa-volume-up"></i>
                        <h4>Bluetooth</h4>
                      </div>
                      <div class="icons_section_inner">
                        <i class="fa fa-wifi"></i>
                        <h4>Wifi</h4>
                      </div>
                      <div class="icons_section_inner">
                        <i class="fa fa-mobile"></i>
                        <h4>Touch</h4>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="app-feature-content-right text-left">
              <div class="box-item right">
                <div class="text">
                  <img src="static/images/Image captioning.jpg" class="img-responsive">
                  <p><b>Image Captioning</b></p>
                </div>
              </div>
              <div class="box-item right" style="margin-top: 100px;">
                <div class="text">
                  <img src="static/images/Gender detection.jpg" class="img-responsive">
                  <p><b>Gender detection</b></p>
                </div>
              </div>
            </div>
                </div>
            </div>
        </div>
        <!-- features Section End -->
      </div>
  </section>
  <!-- /.skills-section -->

  <section class="before_footer mart_bg mart_bg_properties">
    <div class="row w-100">
      <div class="col-sm-12 col-md-9">
        <h4 class="text-left df_text ">to learn more about <span class="font-bold"> AptaI​</span> </h4>
      </div>
      <div class="col-sm-12 col-md-3">
        <a href="contact.html" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
        <p class="clearfix"></p>
      </div>
    </div>
  </section>