<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section alaas-section">
      <div class="hero-layer black-gradient"></div>
      <div class="container-fluid h-100">
          <div class="row h-100">
              <div class="col-lg-12 h-100">
                  <div class="hero-logo">
                      
                  </div>
                  <div class="typed-text">
                      <span class="skilltechtypetext">
                          <span class="typed-cursor"><span class="font-bold">AI</span> as a Service</span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.hero-section -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 see-work mart_bg" >
                <h2 class="color_2e3b4e fontweg_300 text-center carrer_desp" >Recognizing <span class="fontweg_400">Action Units</span> for <span class="fontweg_400">Facial Expression</span> analysis</h2>
            </div>
        </div>
    </div>


    <section id="skills" class="skills-section">
      <div class="container">
        <div class="row">			    	   	
          <div class="col-md-6 ">
            <div class="equal-height-img">
              <img class="img-responsive w-100"  src="../../../assets/images/smile_image.jpg" >
            </div>
          </div>
         <div class="col-md-6">	
             <p class="text-justify hiring_para_class paddingl_30">Emotions are the essence of what makes us human. They impact our daily routines, our social interactions, our attention, perception, and memory.</p>	
             <p class="text-justify hiring_para_class paddingl_30">One of the strongest indicators for emotions is our face. As we laugh or cry we’re putting our emotions on display, allowing others to glimpse into our minds as they ’’read“ our face based on changes in key face features such as eyes, brows, lids, nostrils, and lips.</p>
             <p class="text-justify hiring_para_class paddingl_30">Computer-based facial expression recognition mimics our human coding skills quite impressively as it captures raw, unfiltered emotional responses towards any type of emotionally engaging content. </p>
         </div>
      </div>
      <div class="row mt-5">
         <div class="col-sm-12">
             <p class=" mb-2 pargraph_ag"><span class="font-bold">Need to easily integrate facial expres­sion analysis into other applications?</span> Our API has been developed to serve as an interface between different software programs and to facilitate integration.</p>
         </div>
         <div class="col-sm-12">
          <a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css box_shadow">  Get in touch </a>					
        </div>
      </div>
    </div>
  </section>