<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section aptabi-section">
      <div class="hero-layer black-gradient"></div>
      <div class="container-fluid h-100">
          <div class="row h-100">
              <div class="col-lg-12 h-100">
                  <div class="hero-logo">
                      
                  </div>
                  <div class="typed-text">
                      <span class="skilltechtypetext">
                          <span class="typed-cursor">Apta<span class="font-bold">BI</span></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.hero-section -->
  

  <!-- Skills Section
  ================================================== -->
  <section id="skills" class="skills-section">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-3 text-right">
          <div class="main_container_aptabi">
              <div class="main_innercontainer_aptabi">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <h4>360° view of your business data</h4>
              </div>
            </div>
            <div class="main_container_aptabi">
              <div class="main_innercontainer_aptabi">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <h4>Custom Metrics</h4>
              </div>
            </div>
            <div class="main_container_aptabi">
              <div class="main_innercontainer_aptabi">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                <h4>Data Analytics</h4>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6">
          <div id="carousel-aptabi" class="carousel slide" data-ride="carousel" style="height: 400px;">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-aptabi" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-aptabi" data-slide-to="1"></li>
                <li data-target="#carousel-aptabi" data-slide-to="2"></li>
                <li data-target="#carousel-aptabi" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox" style="height: inherit;">
                <div class="item active">
                    <img src="../../assets/images/aptabi1.png" class="img-responsive">
                </div>
                <div class="item">
                    <img src="../../assets/images/aptabi2.jpg" class="img-responsive">
                  </div>
                <div class="item">
                    <img src="../../assets/images/aptabi3.jpg" class="img-responsive">
                  </div>
                <div class="item">
                    <img src="../../assets/images/aptabi4.jpg" class="img-responsive">
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-3 text-left">
          <div class="main_container_aptabi">
              <div class="main_innercontainer_aptabi">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h4>Multi-user Support</h4>
              </div>
            </div>
            <div class="main_container_aptabi">
              <div class="main_innercontainer_aptabi">
                <i class="fa fa-database " aria-hidden="true"></i>
                <h4>Connect with any Dataset</h4>
              </div>
            </div>
            <div class="main_container_aptabi">
              <div class="main_innercontainer_aptabi">
                <i class="fa fa-desktop " aria-hidden="true"></i>
                <h4>Real-time Dashboard</h4>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </div>
    </div>
  </section>
  <!-- /.skills-section -->

  <section class="before_footer mart_bg mart_bg_properties">
    <div class="row w-100">
      <div class="col-sm-12 col-md-10">
        <h4 class="text-left "> Obtain <span class="font-bold"> 360° </span> view of your business data </h4>
        <p class="text-left">To schedule a demo or to get a quote, get in touch with us.</p>
      </div>
      <div class="col-sm-12 col-md-2">
        <a routerLink="/contact" href="" routerLinkActive="active" class="common-btn common_btn_css float-right box_shadow">  Get in touch </a>
        <p class="clearfix"></p>
      </div>
    </div>
  </section>