<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section mlsupport-section">
      <div class="hero-layer black-gradient"></div>
      <div class="container-fluid h-100">
          <div class="row h-100">
              <div class="col-lg-12 h-100">
                  <div class="hero-logo">
                      
                  </div>
                  <div class="typed-text">
                      <span class="skilltechtypetext">
                          <span class="typed-cursor">Cyber Security Application Support</span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.hero-section -->
  
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 see-work mart_bg " >
                <h2 class="color_2e3b4e fontweg_300 text-center carrer_desp">Aptagrim is the technology support partner for <span class="font-bold">InCyber, Inc.</span> <span class="carrer_desp_block"> <span class="font-bold"> TPIT, </span> is InCyber’s Machine Learning integrated Cyber Security application</span></h2>
            </div>
        </div>
    </div>

    <section id="skills" class="skills-section mt-2">
      <div class="container">
        <div class="row">				   
          <div class="col-md-6">
            <img class="img-responsive m-auto"  src="../../../assets/images/cyber.png">
            <div class="mt-3 text-center">
              <i id="launchcybervideo" data-toggle="modal" data-backdrop="static" data-target="#cybervideomodal" class="fa fa-play-circle color_189dbc cursor_pointer"   aria-hidden="true" style="font-size: 40px;"></i>	
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center mlsupport_image_des" >
              <div>
                <p class="text-justify hiring_para_class paddingl_30"><span class="font-bold">InCyber, Inc </span> is dedicated to changing the cyber security landscape with our <span class="font-bold"> Patent Pending, </span> True Prediction System (TPIT™) focused on insider threats. Their mission is to defend enterprises against insider threats and/or those impersonating Insider credentials such as Hackers, Terrorists, and Malware.</p>	
              </div>	
            </div>
            <div class="mt-2 text-center">
              <a class="common-btn common_btn_css" href="https://incyber1.com/" target="_blank">Learn more</a>
            </div>
          </div>
        </div>
      </div>			
    </section>



  <section class="mt-3 mb-2">
    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="mlsupport-slider" class="owl-carousel" style="width: 90% ;margin-left: auto;margin-right: auto; ">
                        <div class="testimonial-mlsupport">
                            <div class="testimonial-mlsupport-content">
                                <div class="testimonial-mlsupport-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <p class="description">
                                    InCyber is implementing the product in <span class="color_189dbc fontweg_400">two of the largest banks in Israel.</span>
                                </p>
                            </div>
                        </div>
     
                        <div class="testimonial-mlsupport">
                            <div class="testimonial-mlsupport-content">
                                <div class="testimonial-mlsupport-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <p class="description">
                                    <span class="color_189dbc fontweg_400">Two extremely successful pilots </span> in Israel’s largest bank where InCyber tested the product on 4,000 employees and <span class="color_189dbc fontweg_400">in one of largest insurance companies in Israel,</span>
                                    where InCyber tested the product and found actual fraud by a senior employee.
                                </p>
                            </div>
                        </div>
     
                        <div class="testimonial-mlsupport">
                            <div class="testimonial-mlsupport-content">
                                <div class="testimonial-mlsupport-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <p class="description">
                                    On-going pilots with two <span class="color_189dbc fontweg_400">insurance companies</span> in Israel
                                </p>
                            </div>
                        </div>

                        <div class="testimonial-mlsupport">
                            <div class="testimonial-mlsupport-content">
                                <div class="testimonial-mlsupport-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <p class="description">
                                    Bank of Israel <span class="color_189dbc fontweg_400">acknowledges InCyber’s TPIT application is an unique cyber security product that has no similar in the market.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <div class="modal fade" id="cybervideomodal" tabindex="-1" role="dialog" aria-labelledby="rating-confirm-modal" aria-hidden="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px">
        <div class="modal-content">
           <div class="modal-body">
               <button type="button" class="close videoclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
               <div class="add_class">
            <div>
              <video id="cybervideo" width="100%" height="100%" autoplay="" controls="" controlslist="nodownload">
                <source src="static/video/InCYber.mp4" type="video/mp4">
                <source src="static/video/InCYber.webm" type="video/webm">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
            </div>
          </div>
      </div>
  </div>