		<!-- Hero Section
		================================================== -->
		<section id="hero" class="hero-section newsdescription-section">
		    <div class="hero-layer black-gradient"></div>
		    <div class="container-fluid h-100">
		        <div class="row h-100">
		            <div class="col-lg-12 h-100">
		                <div class="hero-logo">
		                    
		                </div>
		                <div class="typed-text">
		                    <span class="skilltechtypetext">
		                        <span class="typed-cursor">Newsroom</span>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- /.hero-section -->
		
		<section>
			<div class="w-100 mb-3">
				<div class="container-fluid newsroom-detail-blk">
			        <div class="row">
			            <div class="col-md-12">
			            	<div class="panel">
				            	<div class="panel-body">
			            			<img src="../../../../assets/images/Aptagrim_Reprint.jpg" class="img-responsive">

    								<div class="newsroom-detail-info-blk">
    									<a href="static/images/Aptagrim Reprint.pdf" class="common-btn common_btn_css" target="_blank">Download</a>

    									<ul class="footer-social-icons icon-rotate pull-right"> 
											<li> <a href="https://twitter.com/aptagrim" target="_blank"><i class="fa fa-twitter"></i></a></li>  
											<li> <a href="https://www.linkedin.com/in/aptagrim/" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
										</ul>
    								</div>
					            </div>
			            	</div>
				        </div>
			        </div>
				</div>
			</div>	
			
		</section>